<br/>
<h2>removeduplicatewords</h2>
<p>
    <form action="/removeduplicatewords" method="post">
    palabras: <input type="text" name="Ppalabras"> 
    <input type="submit" value="check">
  </form>
</p>

<h2>detectfiletype</h2>
<p>
    <form action="/detectfiletype" method="post">
    url: <input type="text" name="url"> 
    <input type="submit" value="check">
  </form>
</p>

